#background{
	background-image: url("../img/background-new.jpg");
	opacity: 0.4;
	position:absolute;
	z-index:0;
	width:100%;
	height:70vh;
}
#content{
	padding-top:0px;
}
#content h1{
	padding-top:10vh;
	opacity: 1.0 !important;
	position:absolute;
	z-index:1;
	color:#4286f4;
	padding-left:10px;
	padding-right:10px;
	font-weight: bold;
}
#changeText{
	color:cornflowerblue;
}
